<div class="titulo">
  <p>Crear Consulta</p>
</div>
<form class="formulario" [formGroup]="form" (submit)="buscarOrdenes()">

  <div class="filtrado">
    <mat-form-field appearance="outline">
      <mat-label>Usuarios</mat-label>
      <mat-select formControlName="usuarioId">
        <mat-option *ngFor="let user of listaUsuarios" [value]="(user.id)">{{ user.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estaciones</mat-label>
      <mat-select formControlName="estacionId">
        <mat-option *ngFor="let estacion of listaEstaciones" [value]="(estacion.id)">{{ estacion.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Importe Total</mat-label>
      <input formControlName="importeTotal" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha Hora</mat-label>
      <input formControlName="fechaHora" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="estado">
      Estado
    </mat-checkbox>
  </div>

  <div class="botones">
    <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="CrearOrden()">Crear</button>
    <a mat-stroked-button routerLink="/">Cancelar</a>
  </div>

</form>
