<div>
  <h1 mat-dialog-title>Orden N° {{ data.id }}</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

          <mat-form-field>
              <input matInput [(ngModel)]="data.importeTotal" type="number" placeholder="Ingrese precio">
          </mat-form-field>

      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
  </div>
</div>
